# Qt Creator / CMake
*.user
*.user.*
*.autosave
*.pro.user*
*.qmlproject.user*
CMakeLists.txt.user

# Build folders
build*/
cmake-build-*/

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.app

# Qt Creator settings
.qmake.stash
Makefile*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# OS-specific
.DS_Store
Thumbs.db

